<p id="notice"><%= notice %></p>

<h1>Guns</h1>

<% @guns.find_by_sql("SELECT DISTINCT organization FROM guns ORDER BY organization").each do |gun| %>
  <a href="/siege/guns/o/<%= gun.organization %>"><%= gun.organization %></a>
<% end %><br />
<% @guns.find_by_sql("SELECT DISTINCT weapon_type FROM guns ORDER BY weapon_type").each do |gun| %>
  <a href="/siege/guns/t/<%= gun.weapon_type %>"><%= gun.weapon_type %></a>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Damage</th>
      <th>Damage supp</th>
      <th>Rate of fire</th>
      <th>Mobility</th>
      <th>Mag size</th>
      <th>Max ammo pvp</th>
      <th>Max ammo th</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @guns.each do |gun| %>
      <tr>
        <td><%= gun.name %></td>
        <td><%= gun.damage %></td>
        <td><%= gun.damage_supp %></td>
        <td><%= gun.rate_of_fire %></td>
        <td><%= gun.mobility %></td>
        <td><%= gun.mag_size %></td>
        <td><%= gun.max_ammo_pvp %></td>
        <td><%= gun.max_ammo_th %></td>
        <td><%= link_to 'Show', gun %></td>
        <td><%= link_to 'Edit', edit_gun_path(gun) %></td>
        <td><%= link_to 'Destroy', gun, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gun', new_gun_path %>
