<%= form_with(model: operator, local: true) do |form| %>
  <% if operator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(operator.errors.count, "error") %> prohibited this operator from being saved:</h2>

      <ul>
      <% operator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :pick_rate %>
    <%= form.text_field :pick_rate, id: :operator_pick_rate %>
  </div>

  <div class="field">
    <%= form.label :win_rate %>
    <%= form.text_field :win_rate, id: :operator_win_rate %>
  </div>

  <div class="field">
    <%= form.label :kda %>
    <%= form.text_field :kda, id: :operator_kda %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
