<p id="notice"><%= notice %></p>
<div class="searchArea">

</div>
<div class="search">
  <h2>Search By:</h2>
  <div class="ctu">
    <h3>CTU</h3>
    <ul>
      <% @operators.find_by_sql("SELECT DISTINCT organization FROM operators").each do |operator| %>
      <a href="/siege/operators/o/<%= operator.organization %>"><li><%= operator.organization %></li></a>
      <% end %><br />
    </ul>
  </div>
  <div class="role">
    <h3>Role</h3>
    <ul>
      <% @operators.find_by_sql("SELECT DISTINCT main_catagory FROM operators").each do |operator| %>
      <a href="/siege/operators/c/<%= operator.main_catagory %>"><li><%= operator.main_catagory %></li></a>
      <% end %><br />
    </ul>
  </div>
  <div class="speed">
    <h3>Speed</h3>
    <ul>
      <% @operators.find_by_sql("SELECT DISTINCT speed FROM operators ORDER BY speed").each do |operator| %>
      <a href="/siege/operators/s/<%= operator.speed %>"><li><%= operator.speed %> Speed</li></a>
      <% end %><br />
    </ul>
  </div>
  <div class="armor">
    <h3>Armor</h3>
    <ul>
      <% @operators.find_by_sql("SELECT DISTINCT armor FROM operators ORDER BY armor").each do |operator| %>
      <a href="/siege/operators/a/<%= operator.armor %>"><li><%= operator.armor %> Armor</li></a>
      <% end %><br />
    </ul>
  </div>
</div>
<div class="attackers">
  <h2>Attack Operators</h2>
  <% @operators.each do |operator| %>
    <% if operator.role == "Attacker" %>
    <%= link_to siege_operator_path(operator) do %>
      <div class="operator">
        <div class="<%= operator.name %>-badge">
        </div>
          <%= operator.name %><br />
        <%= operator.organization %>
      </div>
      <% end %>
    <% end %>
  <% end %>
</div>
<div class="defenders">
  <h2>Defense Operators</h2>
  <% @operators.each do |operator| %>
    <% if operator.role == "Defender" %>
    <%= link_to siege_operator_path(operator) do %>
      <div class="operator">
        <div class="<%= operator.name %>-badge">
        </div>
          <%= operator.name %><br />
        <%= operator.organization %>
      </div>
      <% end %>
    <% end %>
  <% end %>
</div>
